[submodule "DAFL"]
	path = DAFL
	url = https://github.com/prosyslab/DAFL.git
[submodule "sparrow"]
	path = sparrow
	url = https://github.com/prosyslab/sparrow.git
[submodule "smake"]
	path = smake
	url = https://github.com/prosyslab/smake.git
